/*Coloque aqui os estilos customizados do admin comum a todos sites*/

body{
	background-color: #EFEFEF;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, command, datalist, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, source, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var, video{
	z-index: auto;
}

.webjump_logo{
	text-align: right;
	margin: 0 4px;
}

.header-logo{
	text-align: right;
	position:relative;
	top: 10px;
	
}


article {
	margin-top: 1.5em;
}

div.inline-small-label, p.inline-small-label, .inline-small-label p {
    padding-left: 8em !important;
}

.inline-small-label label, .inline-small-label .label {
    margin-left: -8em !important;
    width: 8em !important;
}


.login-bg .form .required label:before{
	content: none;
}

/** search form **/
form#search-form label{display: block; text-align: left; margin-top: 5px;float: right; width: 165px; height: 21px; line-height: 21px; background:url(../img/admin/bg-search.gif) no-repeat; }
form#search-form input{border: 0; width: 120px; margin: 0 0 0 22px;outline:none; color:#666; background: transparent; }
form#search-form a{position:absolute; top: 16px;right:-162px;}

nav > ul > li.noticias, nav > ul > li.noticias > a { background-image: url(../img/icons/calendar_2states.png); }
nav > ul > li.conteudo, nav > ul > li.conteudo > a { background-image: url(../img/icons/write_2states.png); }
nav > ul > li.paginas, nav > ul > li.paginas > a { background-image: url(../img/icons/write_2states.png); }
nav > ul > li.modalidades, nav > ul > li.modalidades > a { background-image: url(../img/icons/modalidades_2states.png); }
nav > ul > li.oportunidades, nav > ul > li.oportunidades > a { background-image: url(../img/icons/users_2states.png); }
nav > ul > li.timeline, nav > ul > li.timeline > a { background-image: url(../img/icons/timeline.png); }
nav > ul > li.galeria-multimidia, nav > ul > li.galeria-multimidia > a { background-image: url(../img/icons/medias_2states.png); }
nav > ul > li.formularios, nav > ul > li.formularios > a { background-image: url(../img/icons/users_2states.png); }
nav > ul > li.setup, nav > ul > li.setup > a { background-image: url(../img/icons/settings_2states.png); }
nav > ul > li.backup, nav > ul > li.backup > a { background-image: url(../img/icons/backup_2states.png); }
nav > ul > li.current {  background: url("../img/tab-bg.png") no-repeat scroll 0 0 transparent !important;}

/** Pagination **/
ul.controls-buttons li.current,
div.controls-buttons > .current {
    border: 1px solid white;
	border-color: #1eafdc #1193d5 #035592;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.5);
    color: #333333;
    display: block;
    min-width: 1.083em;
    padding: 0.333em 0.5em;
    text-align: center;
    text-transform: uppercase;
	background: #057fdb url(../img/old-browsers-bg/block-control-hover-bg.png) repeat-x;
	background: -moz-linear-gradient(
		top,
		white,
		#2bcef3 5%,
		#057fdb
	);
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(white),
		to(#057fdb),
		color-stop(0.05, #2bcef3)
	);
	color: white;
}

table.table .table-actions{ width: 80px; text-align: center;}

.block-footer ul.controls-buttons li.sep,
.block-footer div.controls-buttons > div.sep,
.block-footer div.controls-buttons > span.sep {
	height: 3em;
	margin: -0.5em 0.25em -0.5em 0.75em;
}

/* Ordenação */
ul.paginator-order li{
	list-style:circle;
	margin:0 0 2px 15px;
}

ul.paginator-order li a{
	text-decoration:none;
}

ul.paginator-order li a:hover{
	text-decoration:underline;
}

ul.paginator-order li.active, ul.paginator-order li.asc, ul.paginator-order li.desc{
	list-style:disc;
}

ul.paginator-order li.asc a, span.paginator_asc a{
	background:url(../img/admin/bullet_arrow_up.png) right center no-repeat;
	padding-right:15px;
}

ul.paginator-order li.desc a, span.paginator_desc a{
	background:url(../img/admin/bullet_arrow_down.png) right center no-repeat;
	padding-right:15px;
}

span.paginator_asc a, span.paginator_desc a{
	padding: 0 15px 0 5px !important;
}

/*Form adicionais*/
form.form div.checkbox input{
	width: auto;
}

.form fieldset, .fieldset {
	padding-bottom: 0;
}

form.form legend input+label,
form.form.form_filtro_conta input+label
{
	margin-left: 5px;
}

.form .required>label:after, .form .required>.label:after, .form label.required:after, .form .label.required:after {
    color: red;
    content: " *";
}
.form .required label:before, .form .required .label:before, .form label.required:before, .form .label.required:before {
    content: "";
}
/*Form atualização para suportar div no lugar do p*/
.inline-label div, .inline-mini-label div, .inline-small-label div, .inline-medium-label div {
	margin-bottom: 1.667em;
}

.inline-label div.ckeditor div, .inline-mini-label div.ckeditor div, .inline-small-label div.ckeditor div, .inline-medium-label div.ckeditor div {
	margin-bottom: 0;
}

.inline-label div.ckeditor textarea, .inline-mini-label div.ckeditor textarea, .inline-small-label div.ckeditor textarea, .inline-medium-label div.ckeditor textarea {
	background: none;
	border: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	padding: 0;
}

label.disabled,
.form div.disabled label {
	color: #AAAAAA !important;
}

.form div.disabled input,
.form div.disabled select,
.form div.disabled textarea {
	color: #A9A9A9;
	border: 1px solid #adcede;
}


.inline-label input,
.inline-label textarea,
.inline-medium-label input,
.inline-medium-label textarea,
form .input-medium{
	width: 300px;
}

form .input-medium{
	width: 300px !important;
}

.inline-small-label input,
.inline-small-label textarea,
form .input-small{
	width: 200px;
}

form .input-small{
	width: 200px !important;
}

.inline-mini-label input,
.inline-mini-label textarea,
form .input-mini{
	width: 100px;
}

form .input-mini{
	width: 100px !important;
}

.inline-label>fieldset>div,
.inline-label>div {
	padding-left: 20em;
}


.inline-mini-label>fieldset>div,
.inline-mini-label>div {
	padding-left: 5em;
}

.inline-small-label>fieldset>div,
.inline-small-label>div {
	padding-left: 8em;
}

.inline-medium-label>fieldset>div,
.inline-medium-label>div {
	padding-left: 15em;
}

.inline-label>fieldset>div.error-message,
.inline-label>div.error-message,
.inline-mini-label>fieldset>div.error-message,
.inline-mini-label>div.error-message,
.inline-small-label>fieldset>div.error-message,
.inline-small-label>div.error-message,
.inline-medium-label>fieldset>div.error-message,
.inline-medium-label>div.error-message{
	padding-left: 0;
}

form div.columns{
	padding: 0;
}

.form input.disabled,
.form select.disabled,
.form textarea.disabled {
	color: #797979;
	border: 1px solid #adcede;
	cursor: default;
}

div.checkbox.input div.checkbox{
	margin: 10px 0 0 0;
}

.pseudo-textarea.big {
		font-size: 1.5em;
}
.pseudo-textarea.smaller {
	font-size: 1em;
	padding: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-background-clip: padding-box;
	border-radius: 0;
}
.pseudo-textarea.disabled {
	cursor: default;
	color: #797979;
	border: 1px solid #adcede;
}
.pseudo-textarea{
	color: #333333;
	font-size: 1em;
	padding: 0.417em;
	border: 1px solid #89bad3;
	-moz-border-radius: 0.417em;
	-webkit-border-radius: 0.417em;
	-webkit-background-clip: padding-box;
	border-radius: 0.417em;
}
.pseudo-textarea {
	background: white url(../img/old-browsers-bg/input-bg.png) repeat-x top;
	background: -moz-linear-gradient(
		top,
		#d4d4d4,
		#ebebeb 3px,
		white 27px
	), white;
	background: -webkit-gradient(
		linear,
		left 0px, left 27px,
		from(#d4d4d4),
		to(white),
		color-stop(0.12, #ebebeb)
	), white;
}	
.pseudo-textarea.small {
	font-size: 1em;
	padding: 0.167em;
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	-webkit-background-clip: padding-box;
	border-radius: 0.25em;
}

.pseudo-textarea.smaller {
	font-size: 1em;
	padding: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-background-clip: padding-box;
	border-radius: 0;
}
.pseudo-textarea.big {
	font-size: 1.5em;
}
.pseudo-textarea.bigger {
	font-size: 2.5em;
}

div.checkbox.input div.checkbox label,
div.checkbox.input div.checkbox input{
	margin: 0 10px 0 0;
	width: auto;
	padding: 0;
}

div.checkbox.input div.checkbox input{
	float: left;
}

form div.columns{
	padding: 0;
}

div.checkbox.input div.checkbox label{
	clear: both;
}

div.textarea.input{
	padding: 0;
}

div.textarea.input label{
	float: none;
}

div.textarea.input label{
	width: auto !important;
	margin-left: 0 !important;
}

div.checkbox-left{
	padding-left: 0 !important;
}

div.checkbox-left label{
	float: none;
	margin-left: 0;
	width: auto;
	padding-left: 5px;
}

div.checkbox-left input{
	float: none !important;
	width: auto !important;
	vertical-align: 0 !important;
}

.form input[type="radio"] + label, .form input[type="checkbox"] + label {
	width: auto;
	margin: 0  40px 0 6px;
	padding: 0;
	line-height: 20px;
	float: none;
}

div.colx2-left .form select {
	max-width: 300px;
}

.counter {
	min-width: 1em;
	padding: 0.25em;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: white;
	text-align: center;
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	-webkit-background-clip: padding-box;
	border-radius: 0.25em;
	margin: 0 0.5em;
	position:relative;
	top: -0.30em;
	background: #3399cc;
}

/*Mensagens de formulário*/
.form-error {border:2px solid #a10101 !important;}
div.error-message {color:#a10101; margin: 4px 0 0 12px;}


.mini-calendar tbody td span {
	color: #CCCCCC;
	font-weight: normal;
}

span.datepicker-icon{
	position: absolute;
	cursor: pointer;
	width: 16px;
	height: 16px;
	margin: 6px 0 0 -22px;
	background: url(../img/icons/fugue/calendar-month.png) !important;
	z-index: 90;
}

/* ÍCONES */
table a.site, table a.print,a.table-view-link, a.table-save-link, a.table-edit-link, a.table-delete-link, a.table-allow-link, a.table-disallow-link, a.table-permission-link, a.table-partial-edit-link {color:#666 !important; font-weight: normal !important; text-decoration:none !important; margin-right:5px !important; padding-left:20px !important; height:16px !important; text-align:right !important;}
a.site:hover,a.print:hover, a.table-view-link:hover, a.table-save-link:hover, a.table-edit-link:hover, a.table-delete-link:hover, a.table-permission-link:hover, a.table-partial-edit-link:hover {color:#000 !important;}
a.table-delete-link, a.table-disallow-link {margin-right:0px !important; background:url(../img/admin/icon-delete.gif) no-repeat !important;}
a.table-edit-link {background:url(../img/admin/icon-edit.gif) no-repeat !important;margin-top:5px !important}
a.table-allow-link {background:url(../img/admin/icon-valid.gif) no-repeat !important;}
a.print {background:url(../img/admin/icon-print.gif) no-repeat !important;}
a.table-view-link {background:url(../img/admin/icon-view.gif) no-repeat !important;}
a.table-save-link {background:url(../img/admin/icon-save.gif) no-repeat !important;}
a.table-permission-link {background:url(../img/admin/icon-key.gif) no-repeat !important;margin-top:5px !important}
a.table-partial-edit-link {background:url(../img/admin/icon-partial-edit.png) no-repeat !important;margin-top:5px !important}

/* ICONES PICTOS */
.picto.overlay{opacity: 0.5; filter: alpha(opacity=50);}
.picto.loading {background:url(../img/info-loader.gif) no-repeat !important;}
.picto.info {background:url(../img/icons/fugue/information-blue.png) no-repeat !important;}
.picto.undo {background:url(../img/admin/icon-undo.png) no-repeat !important;}
.picto.delete {background:url(../img/icons/fugue/cross-circle.png) no-repeat !important;}
.picto.edit {background:url(../img/icons/fugue/pencil.png) no-repeat !important;}
.picto.allow {background:url(../img/admin/icon-valid.gif) no-repeat !important;}
.picto.disallow {background:url(../img/admin/icon-delete.gif) no-repeat !important;}
.picto.print {background:url(../img/admin/icon-print.gif) no-repeat !important;}
.picto.wand-overlay,.picto.wand {background:url(../img/custom/wand.png) no-repeat !important;}
.picto.view {background:url(../img/admin/icon-view.gif) no-repeat !important;}
.picto.save {background:url(../img/admin/icon-save.gif) no-repeat !important;}
.picto.permission {background:url(../img/admin/icon-key.gif) no-repeat !important;}
.picto.partial-edit {background:url(../img/admin/icon-partial-edit.png) no-repeat !important;}
.picto.navigation-up{background:url(../img/icons/fugue/navigation-090.png) no-repeat !important;}
.picto.navigation-up-disabled{background:url(../img/icons/fugue/navigation-090-white.png) no-repeat !important;}
.picto.navigation-left{background:url(../img/icons/fugue/navigation-180.png) no-repeat !important;}
.picto.navigation-left-disabled{background:url(../img/icons/fugue/navigation-180-white.png) no-repeat !important;}
.picto.navigation-right{background:url(../img/icons/fugue/navigation.png) no-repeat !important;}
.picto.navigation-right-disabled{background:url(../img/icons/fugue/navigation-000-white.png) no-repeat !important;}
.picto.navigation-down{background:url(../img/icons/fugue/navigation-270.png) no-repeat !important;}
.picto.navigation-down-disabled{background:url(../img/icons/fugue/navigation-270-white.png) no-repeat !important;}
.picto.status-1 {background:url(../img/icons/fugue/tick-circle.png) no-repeat !important;}
.picto.status-0 {background:url(../img/custom/tick-circle-off.png) no-repeat !important;}
.picto.selection{background: url(../img/icons/custom/selection.png) no-repeat !important;}
.picto.email{background: url(../img/icons/fugue/mail.png) no-repeat !important;}
.picto.report{background: url(../img/custom/report.png) no-repeat !important;}
.picto.receipt{background: url(../img/custom/receipt-text.png) no-repeat !important;}
.picto.icon-table{background: url(../img/custom/table.png) no-repeat !important;}
.picto.icon-table-error{background: url(../img/custom/table_error.png) no-repeat !important;}
.picto.money{background: url(../img/money_16px.png) no-repeat !important;}
.picto.image{background: url(../img/icons/fugue/image.png) no-repeat !important;}

.picto-24.delete{background:url(../img/icons/web-app/24/Delete.png) center center no-repeat !important;}
.picto-48.delete{background:url(../img/icons/web-app/48/Delete.png) center center no-repeat !important;}

span.picto, a.picto{
	display: inline-block;
	width: 16px;
	height: 16px;
}

td.table-actions span.picto, td.table-actions a.picto{
	padding: 0 !important;
}

span.picto-24, a.picto-24{
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-bottom: -6px;
}

span.picto-48, a.picto-48{
	display: inline-block;
	width: 48px;
	height: 48px;
}

span.picto, a.picto span,a.picto-24 span,a.picto-48 span{
/*	display: none; estava fazendo o link ocupar uma altura maior*/
	font-size:0;
}

.loading-circle {background:url(../img/loading-circle.gif) center center no-repeat !important; width: 32px; height: 32px;}

#notifications .picto, #notifications .picto-24, #notifications .picto-48{
	float: left;
	margin: 0 5px 5px 0;
}

span.keyword + .picto{
	margin-bottom: -7px !important;
	margin-left: 5px;
}

/* ACL */
table.permission tr.allow td{background:#DFF2BF !important;}
table.permission tr.deny td{background:#FFF2F2 !important;}
table.permission tr td{padding:8px 4px;}

input.button{cursor: pointer;}

/* Botão verde */
.button.green,
.green .button {
	color: white;
	background: #00792D url(../img/old-browsers-bg/button-green-bg.png) repeat-x top;
	background: -moz-linear-gradient(
		top,
		#37BE53,
		#00792D
	);
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(#37BE53),
		to(#00792D)
	);
	}
	.button.green a,
	.green .button a {
		color: white;
	}

	.button.green:hover{
		color: white;
		background: #00a23c url(../img/old-browsers-bg/button-green-hover-bg.png) repeat-x top;
		background: -moz-linear-gradient(
			top,
			#3adc5b,
			#00a23c
		);
		background: -webkit-gradient(
			linear,
			left top, left bottom,
			from(#3adc5b),
			to(#00a23c)
		);
		}


.buttom.blue a,
.blue.button {
	color: #FFFFFF;
	border-color: #50a3c8 #297cb4 #083f6f;
	background: #0c5fa5 url(../img/old-browsers-bg/button-element-bg.png) repeat-x left top;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -moz-linear-gradient(
		top,
		white,
		#72c6e4 4%,
		#0c5fa5
	);
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(white),
		to(#0c5fa5),
		color-stop(0.03, #72c6e4)
	);
	}
	.button.blue a,
	.blue .button a {
		color: white;
	}
	
	.buttom.blue a:hover,
	.blue.button:hover {
		border-color: #1eafdc #1193d5 #035592;
		background: #057fdb url(../img/old-browsers-bg/button-element-hover-bg.png) repeat-x left top;
		background: -moz-linear-gradient(
			top,
			white,
			#2bcef3 4%,
			#057fdb
		);
		background: -webkit-gradient(
			linear,
			left top, left bottom,
			from(white),
			to(#057fdb),
			color-stop(0.03, #2bcef3)
		);
	}

/**************** Keywords list *****************/
.keywords.small, .keyword.small{
	font-size: 0.8em !important;
	font-weight: normal !important;
}
	.keywords.small span, span.keyword.small, a.keyword.small {
		-moz-border-radius: 0.3em !important;
		-webkit-border-radius: 0.3em !important;
		-webkit-background-clip: padding-box !important;
		line-height: 1.3em !important;
		border-radius: 0.3em !important;
		padding: 0.1em 0.4em 0.1em 0.4em !important;
	}
	
	
.keywords, .keyword {
	font-size: 0.833em !important;
	line-height: 2.2em !important;
	}
	.keywords span, span.keyword, a.keyword {
		display: inline-block !important;
		background: #3399cc !important;
		-moz-border-radius: 0.4em !important;
		-webkit-border-radius: 0.4em !important;
		-webkit-background-clip: padding-box !important;
		line-height: 1.6em !important;
		border-radius: 0.4em !important;
		padding: 0.2em 0.5em !important;
		font-weight: bold !important;
		color: white !important;
		text-transform: uppercase !important;
/*		white-space: nowrap !important;*/
		}
		/* IE class */
		.ie7 .keywords span, .ie7 span.keyword {
			display: inline !important;
			margin-right: 0.3em !important;
		}
		
		.keywords li.blue-keyword, span.keyword.blue-keyword, a.keyword.blue-keyword { background-color: #138CC8 !important; }
		.keywords li.blue-light-keyword, span.keyword.blue-light-keyword, a.keyword.blue-light-keyword { background-color: #4EB2E4 !important; }
		.keywords li.blue-dark-keyword, span.keyword.blue-dark-keyword, a.keyword.blue-dark-keyword { background-color: #136B97 !important; }
		.keywords li.orange-keyword, span.keyword.orange-keyword, a.keyword.orange-keyword { background-color: #F0973E !important; }
		.keywords li.purple-keyword, span.keyword.purple-keyword, a.keyword.purple-keyword { background-color: #cc0066 !important; }
		.keywords li.purple-dark-keyword, span.keyword.purple-dark-keyword, a.keyword.purple-dark-keyword { background-color: #330066 !important; }
		.keywords li.green-keyword, span.keyword.green-keyword, a.keyword.green-keyword { background-color: #009900 !important; }
		.keywords li.green-light-keyword, span.keyword.green-light-keyword, a.keyword.green-light-keyword { background-color: #A6E467 !important; }
		.keywords li.green-dark-keyword, span.keyword.green-dark-keyword, a.keyword.green-dark-keyword { background-color: #005500 !important; }
		.keywords li.red-keyword, span.keyword.red-keyword, a.keyword.red-keyword { background-color: #990000 !important; }
		.keywords li.red-dark-keyword, span.keyword.red-dark-keyword, a.keyword.red-dark-keyword { background-color: #610B0B !important; }
		.keywords li.red-light-keyword, span.keyword.red-light-keyword, a.keyword.red-light-keyword { background-color: #F78181 !important; }
		.keywords li.brown-keyword, span.keyword.brown-keyword, a.keyword.brown-keyword { background-color: #996600 !important; }
		.keywords li.brown-light-keyword, span.keyword.brown-light-keyword, a.keyword.brown-light-keyword { background-color: #cc9900 !important; }
		.keywords li.brown-dark-keyword, span.keyword.brown-dark-keyword, a.keyword.brown-dark-keyword { background-color: #6E4A02 !important; }
		.keywords li.black-keyword, span.keyword.black-keyword, a.keyword.black-keyword { background-color: #000000 !important; }
		.keywords li.gray-keyword, span.keyword.gray-keyword, a.keyword.gray-keyword { background-color: #585858 !important; }
		.keywords li.gray-light-keyword, span.keyword.gray-light-keyword, a.keyword.gray-light-keyword { background-color: #b0b0b0 !important; }
		.keywords li.status-0, span.keyword.status-0, a.keyword.status-0 { background-color: #610B0B !important; }

		a.keyword.blue-keyword:hover { background-color: #136B97 !important; }
		a.keyword.blue-light-keyword:hover { background-color: #138CC8 !important; }
		a.keyword.blue-dark-keyword:hover { background-color: #4EB2E4 !important; }
		a.keyword.orange-keyword:hover { background-color: #DB8025 !important; }
		a.keyword.purple-keyword:hover { background-color: #A30052 !important; }
		a.keyword.purple-dark-keyword:hover { background-color: #25004A !important; }
		a.keyword.green-keyword:hover { background-color: #006B00 !important; }
		a.keyword.green-light-keyword:hover { background-color: #84C246 !important; }
		a.keyword.green-dark-keyword:hover { background-color: #003300 !important; }
		a.keyword.red-keyword:hover { background-color: #7A0000 !important; }
		a.keyword.red-dark-keyword:hover { background-color: #360505 !important; }
		a.keyword.red-light-keyword:hover { background-color: #D46666 !important; }
		a.keyword.brown-keyword:hover { background-color: #754E00 !important; }
		a.keyword.brown-light-keyword:hover { background-color: #A17902 !important; }
		a.keyword.brown-dark-keyword:hover { background-color: #4F3501 !important; }
		a.keyword.black-keyword:hover { background-color: #474747 !important; }
		a.keyword.gray-keyword:hover { background-color: #0A0A0A !important; }
		a.keyword.gray-light-keyword:hover { background-color: #5C5C5C !important; }
		
		a.keyword.status-0:hover { background-color: #360505 !important; }



		.keywords>span>a, span.keyword>a {
			margin: -0.4em -0.5em !important;
			padding: 0.4em 0.5em !important;
			color: white !important;
		}
		.keywords span img, span.keyword img, a.keyword img {
			margin-bottom: -4px !important;
		}
		/* IE class */
		.ie7 .keywords span img, .ie7 span.keyword img, .ie7 a.keyword img {
			margin-bottom: 0 !important;
			vertical-align: middle !important;
		}


ul.arbo li.status_0>dl>span:after{
	content: " (desabilitado)";
}


/* Faz o mini-menu funcionar dentro do arbo */
ul.arbo.with-mini-menu .mini-menu{
	left: -0.5em !important;
	float: right;
	position: relative !important;
}

ul.arbo.with-mini-menu .mini-menu li{
	background-image: none !important;
	padding: 0 !important;
	clear: none !important;
	position: static !important;
	float: left !important;
}

ul.arbo.with-mini-menu li .mini-menu li > a, ul.arbo.with-mini-menu li .mini-menu li > span{
	padding-left: 0.417em !important;
}

/*ul.arbo.with-mini-menu li{
	position: relative;
	float: left;
	clear: both;
}*/

ul.arbo.with-mini-menu li span{
	display: inline-block;
}

ul.arbo.no-margin li>ul{
	margin: 0;
}

/* Sortable */
ul.nested-sortable dl{
	margin: 0 !important;
}

ul.nested-sortable dl.hover{
    background-color: #AAA;
}

.dropzone{
	display: block;
    height: 5px;
    margin: 0px !important;
    padding: 0px !important;
}

.dropzone.hover{
    height: 25px !important;
    background-color: #AAA;
}

.dropzone.active{
	height: 10px;
//    background: url(../img/dots.gif) repeat-x center center;
}


/* Sortable dentro do Arbo */
ul.arbo.nested-sortable li.draggable{
	padding-bottom: 1px !important;
}

ul.arbo.nested-sortable li{
	background-position: 8px 15px !important;
}

ul.arbo.nested-sortable li.draggable>dl>span{
	cursor: move;
}

ul.arbo.nested-sortable li ul li:first-child {
	background-position: 8px 16px !important;
}

ul.arbo.nested-sortable li:last-child{
	background-position: 8px 0px !important;
}

ul.arbo.nested-sortable li.draggable:last-child{
	padding-bottom: 0 !important;
}

ul.arbo.nested-sortable li ul li:only-child {
	background-position: 8px 1px !important;
}

ul.arbo.nested-sortable li ul li.draggable:first-child {
	padding-top: 1px !important
}


/* LOG */
span.log_campo{
	font-style: italic;
	color:#000;

}
span.log_de, div.text-diff .delete{
	color: #E58A8A;
	background-color:#B53A3A;
	padding:0 1px;
}

span.log_para, div.text-diff .insert{
	color: #FFF;
	background-color:#2F622F;
	padding:0 1px;
}

#LogAjax{
	float: right;
	margin-right: 1em;
	margin-top: -1.667em;
}


/*Masks*/
input.cepMask{
	width: 75px !important;
}

input.currency{
	text-align: right;
}

input.dateMaskMesAno{
	width:55px !important;
}

input.dateMask{
	width:78px !important;
}

input.dateMask.datepicker{
	width:105px !important;
}

input.dateMaskDiaHora{
	width:115px !important;
}

div.paging{
	float:right;
	margin-right:10px;
}


/* AJAX AUTO COMPLETE */
.autocomplete_live { 
    background:#F0F0F0 none repeat scroll 0%; 
    cursor:pointer; 
/*
    clear:both; 
    display:block; 
*/
    margin:0px; 
    padding:0px; 
    z-index:9999; 
} 

.autocomplete_live ul { 
    clear:both; 
    display:block; 
	border-color:#A2BFF0 #558BE3 #558BE3 #A2BFF0;
	border-style:solid;
	border-width:1px;
    list-style-type:none; 
    margin:0px; 
    padding:0px; 
    position:absolute; 
    width:100%; 
} 

.autocomplete_live li a{ 
    background:#FFF; 
    display:block; 
    list-style-type:none; 
    margin:0px; 
    color: #000;
    padding:2px 5px; 
    text-decoration: none;
    font-weight: normal;
}

.autocomplete_live li a.active{ 
    background:#D5E2FF;
}

span.highlight{
	font-weight: bold;
	background: #FAC269;
}

span.indicator{
	width:16px;
	height:16px;
	display: inline-block;
	margin-left: 2px;
	position: relative;
	top: 2px;
	background: url(../img/admin/indicator.gif) right center no-repeat;
}

.block-content.no-title{
	position: static;
}

span.negative, em.negative{ 
	color: #990000;
}

table.table td span.negative{
	margin-right: -5px !important;
}

table.table tfoot span.negative{
	color: #FFAA77;
}

.menu-opener > a:hover {
	color: white;
}


	div.file_remove{
		display: inline-block;
	}

	div.file_remove.required label:after{
		content: "";
	}
	
	div.file_remove input, div.file_remove label{
		display: inline !important;
		float: none !important;
		width: auto !important;
		margin: 0 !important;
		padding: 0 !important;
		font-weight: normal !important;
		font-size: 0.9em !important;
	}

	div.file_remove input{
		margin: 0 5px 0 0 !important;
	}
	
	.table tbody th, .table tbody td, .table tfoot th, .table tfoot td {
		padding: 0.75em 0.55em;
	}
	
a.modal-close span{
	display: inline-block;
	width: 16px;
	height: 16px;
	overflow: hidden;
	background: url(../img/icons/fugue/cross-circle.png) no-repeat center center;
	text-indent: 16px;
}

ul.simple-list{
	text-align: left;
}

#tips {
	z-index: 999999;
}


.sortable-list {list-style-type: none; margin: 0; padding: 0; }
.sortable-list li.ui-state-default { margin: 5px 5px 5px 0; float: left; position: relative; text-align: center; cursor: move !important;}
.sortable-list li.ui-state-default ul.mini-menu{clear: both; cursor: auto !important;}
.ui-sortable-helper { list-style-type: none; text-align: center;}
.sortable-list li.ui-state-default div.display-field, .ui-sortable-helper div.display-field { height: 28px;}

.sortable-list .overlay{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.8);
}

.sortable-list .overlay .loading-circle{
	height: 100%;
	width: 100%;
}



/*************** Extended infos list ************/
	.extended-list > li > span small {
		font-size: 0.667em;
		font-weight: normal;
		text-transform: none;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		vertical-align: 20%;
		}
		html.dark .extended-list > li > span small {
			color: #b0b0b0;
		}
		html.dark .block-content .extended-list > li > span small {
			color: #808080;
		}
	.extended-list > li > span .icon {
		display: block;
		top: 0;
		left: 0;
		position: absolute;
		width: 48px;
		height: 48px;
		background-position: center center;
		background-repeat: no-repeat;
	}
	
	
	.extended-list ul.actions {
		position: absolute;
		top: 0;
		right: 0;
		border-bottom: 1px solid white;
		border-left: 1px solid white;
		background: #b3b3b3 repeat-x top;
		-webkit-background-size: 100% 100%;
		-moz-background-size: 100% 100%;
		-o-background-size: 100% 100%;
		background-size: 100% 100%;
		background: -moz-linear-gradient(
			top,
			#f0f0f0,
			#d3d3d3
		);
		background: -webkit-gradient(
			linear,
			left top, left bottom,
			from(#f0f0f0),
			to(#d3d3d3)
		);
		border-radius: 0 0 0 0.333em ;
		-moz-border-radius: 0 0 0 0.333em;
		-webkit-border-bottom-left-radius: 0.333em;
	}
	.extended-list ul.actions li {
		text-align: center;
		height: 1.75em;
		display: block;
		float: left;
		line-height: 1.75em;
		padding: 2px 5px 3px 5px;
		border-left: 1px solid #D3D3D3;
    	border-right: 1px solid white;
    }
		.extended-list ul.actions li:after{
	    	display: inline !important;
    	}
	
		.extended-list ul.actions li:first-child {
			border-left: none;
		}
		.extended-list ul.actions li:last-child {
			border-right: none;
		}
		/* IE class */
		.extended-list ul.actions li.last-child {
			border-right: none;
		}
		.extended-list ul.actions li img {
			margin: 0 -1px -3px 0;
		}

div.message, p.message {
    padding: 0.583em 0.833em 0.75em 2.5em !important;
}

ul.qq-upload-list input.input-descricao{
	padding: 0px 6px 1px 6px;
	height: 15px;
	width: 260px;
}

div.qq-uploader{padding-left: 0;}
div.qq-upload-button input{width: auto !important; }


button.ui-button{
	box-shadow: none;
    border-radius: 0 5px 5px 0;
	padding-bottom: 1px;    
}

input.datepicker:disabled+.datepicker-icon{cursor: default !important;}

ul.relacionamentos li{
	list-style-type: disc;
	margin: 4px 0 4px 17px;
}

ul.relacionamentos a.delete_related{
	background: url(../img/admin/icon-delete.png) right center no-repeat;
	padding-right: 20px;
}


/*.form ul.tabs{margin-bottom: 0px;}*/

/*EDITOR CKEDITOR */
div.inline-medium-label.ckeditor div{
	padding-left: 0;
}

.cke_combopanel__fontsize {
	width: auto !important;
	min-width: 120px !important;
	max-width: 200px;
}

.cke_combopanel {
	width: auto !important;
	min-width: 150px !important;
	max-width: 250px;
}

